
    <header-bar></header-bar>

<div class="page-header">
    <h1>Dashboard</h1>
</div>

<div class="container-fluid" data-ng-init="init()">
    <div class="container" ng-repeat="kid in kids">
        <!-- title name of kid -->
        <div class="row text-center">
            <div class="col-md-12"> <h2>{{ kid.name }} </h2> </div>
        </div> <!--end of title row -->

        <!-- weight and height tables-->

            <div class="row"> <!-- charts-->
                <div class="col-md-4">
                    <div class="text-center"> <h3>Weight</h3> </div>
                    <nvd3 options="optionsLineChart" data="weightData[$index]"></nvd3>
                </div> <!-- weight chart end-->
                <div class="col-md-4">
                    <div class="text-center"> <h3>Height</h3> </div>
                    <nvd3 options="optionsLineChart" data="heightData[$index]"></nvd3>
                </div> <!-- height chart end -->
                <div class="col-md-4">
                    <div class="text-center"> <h3>Head circumference</h3> </div>
                    <nvd3 options="optionsLineChart" data="head_cfrData[$index]"></nvd3>
                </div><!-- end of head circumference chart-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center"> <h3>Percentiles</h3> </div>
                        <nvd3 options="optionsMultiBarChart" data="percentilesData[$index]" showControls="false"></nvd3>
                    </div> <!-- end of percentiles chart-->
                </div> <!-- end of row for percentiles chart-->
            </div> <!-- end of charts-->
        </div> <!-- end of weight and height table-->


</div> <!-- end of div ng-repeat-->

</div>