
    <header-bar></header-bar>

<div class="page-header">
    <h1>Dashboard</h1>
</div>

<div class="container-fluid" data-ng-init="init()">
    <div class="container" ng-repeat="kid in kids">
        <!-- title name of kid -->
        <div class="row text-center">
            <div class="col-md-12"> <h2>{{ kid.name }} </h2> </div>
        </div> <!--end of title row -->

        <!-- weight and height tables-->

            <div class="row"> <!-- charts-->
                <div class="col-md-6">
                    <div class="col-md-6 text-center"> <h3>Weight</h3> </div>
                    <nvd3 options="options" data="weightData[$index]"></nvd3>
                    <div class="text-center"> {{ returnMinAndMaxValues(kid,"Weight") }} </div>
                </div> <!-- weight chart end-->
                <div class="col-md-6">
                    <div class="col-md-6 text-center"> <h3>Height</h3> </div>
                    <nvd3 options="options" data="heightData[$index]"></nvd3>
                    <div class="text-center"> {{ returnMinAndMaxValues(kid,"Height") }}</div>
                </div> <!-- height chart end -->
            </div> <!-- end of charts-->
        </div> <!-- end of weight and height table-->


</div> <!-- end of div ng-repeat-->

</div>