<header-bar></header-bar>

<div class="page-header">
    <h1>Development Record</h1>
    <h2>{{baby.name}}</h2>
</div>

<div class="container-fluid" ng-init="init()">
    <table class="table table-bordered table-hover table-condensed" >
        <tr style="font-weight: bold">
            <td>Date</td>
            <td>Time</td>
            <td>Temperature</td>
            <td>Medication</td>
            <td>Dose</td>
            <td>Edit</td>
        </tr>
        <tr ng-repeat="fever in fevers track by $index">
            <td>

                <span editable-bsdate="fever.dateFever"
                      e-name="date" e-form="rowform"
                      onbeforesave="checkDate($data)"
                      e-required>
                  {{ fever.dateFever | date:'dd-MM-yyyy' }}
                </span>

            </td>

            <td>
                <span editable-bstime="fever.timeFever"
                      e-name="time" e-form="rowform"
                      e-show-meridian="false"
                      e-minute-step="10"
                      onbeforesave="checkTime($data)"
                      e-required>
                  {{ fever.timeFever | date:'HH:mm' }}
                </span>
            </td>


            <td>
                <span editable-number="fever.temp"
                      e-name="temp"
                      e-form="rowform"
                      onbeforesave="checkTemp($data)"
                      e-required>
                  {{ fever.temp }}
                </span>
            </td>

            <td>
                <span editable-text="fever.medication" e-name="medication"  e-form="rowform">
                  {{ fever.medication }}
                </span>
            </td>

            <td>
                <span editable-text="fever.dose" e-name="dose"  e-form="rowform">
                  {{ fever.dose }}
                </span>
            </td>
            <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform"
                      ng-show="rowform.$visible"
                      class="form-buttons form-inline"
                      shown="feverObject == fever"
                      onbeforesave="checkDate($data)"
                      onbeforesave="checkTime($data)"
                      onbeforesave="checkTemp($data)"
                      novalidate>
                    <button type="submit" ng-disabled="rowform.$waiting"   class="btn btn-primary">
                        save
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                        cancel
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                    <button class="btn btn-danger" ng-click="removeFever($index)">del</button>
                </div>
            </td>
        </tr>
    </table>

    <button class="btn btn-default" ng-click="addFever()">Add fever record</button>
    <button class="btn btn-default" ng-click="saveFeverRecord()">Save</button>


</div> <!-- end of main div-->