
<div class="page-header">
    <h1>Login in BabyClinic</h1>
</div>

<div class="container">
    <form id="loginform" class="form-horizontal" role="form">
        <div class="col-sm-12">
            <input id="login-email" type="text" class="form-control" placeholder="Email" ng-model="user.email">
            <input id="login-password" type="password" class="form-control" name="password" placeholder="password" ng-model="user.password">
            <button id="btn-login" type="button" class="btn btn-success" ng-click="login()">Login </button>
        </div>
        <div class="container-fluid">
            <a href="#/signup"><p>Don't have an account? Create one now!</p></a>
        </div>
    </form>
</div>
