<!DOCTYPE html>
<html>
  <head>
    <title>LittleBabyDiary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome page</h1>
    <p>Welcome to my app</p>
  </body>
</html>
